Repository ME-sdeo/me3-zam0pf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @compliance-team, @blockchain-team, @fhir-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers

.github/CODEOWNERS:

# This file defines code ownership and mandatory review requirements
# Last matching pattern takes precedence
# Multiple owners must approve changes

# Root level files require project lead and security team review
* @project-leads @security-team

# Backend code requires security, compliance and backend team review for HIPAA compliance
/src/backend/* @backend-team @security-team @compliance-team

# Blockchain implementation requires specialized review
/src/backend/src/blockchain/* @blockchain-team @security-team @compliance-team

# FHIR integration code requires healthcare data expertise
/src/backend/src/fhir/* @fhir-team @security-team @compliance-team

# Frontend code requires accessibility compliance
/src/web/* @frontend-team @accessibility-team

# Infrastructure code requires thorough security review
/infrastructure/* @devops-team @security-team @compliance-team

# CI/CD workflows require security oversight
/.github/workflows/* @devops-team @security-team

# Configuration files require extra security scrutiny
/src/backend/src/config/* @backend-team @security-team @compliance-team

# Test files require QA and security validation
*.test.ts @qa-team @security-team

# Package dependencies require security review
package*.json @security-team @compliance-team

# Documentation requires compliance verification
/docs/* @technical-writers @compliance-team

# Ensure security team reviews all sensitive healthcare data components
/src/backend/src/services/* @backend-team @security-team @compliance-team
/src/backend/src/models/* @backend-team @security-team @compliance-team
/src/backend/src/api/* @backend-team @security-team @compliance-team

# Database schema changes require thorough review
/src/backend/src/db/* @backend-team @security-team @compliance-team

# Security-critical components require mandatory security team review
/src/backend/src/auth/* @security-team @compliance-team
/src/backend/src/encryption/* @security-team @compliance-team
/infrastructure/security/* @security-team @compliance-team

Add public-samples/me3-zam0pf/src/backend/src/utils/fhir.util.ts
  src/backend/src/utils/fhir.util.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/utils/logger.util.ts
  src/backend/src/utils/logger.util.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/utils/validation.util.ts
  src/backend/src/utils/validation.util.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/integration/auth.test.ts
  src/backend/tests/integration/auth.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/integration/company.test.ts
  src/backend/tests/integration/company.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/integration/consent.test.ts
  src/backend/tests/integration/consent.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/integration/fhir.test.ts
  src/backend/tests/integration/fhir.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/integration/marketplace.test.ts
  src/backend/tests/integration/marketplace.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/integration/payment.test.ts
  src/backend/tests/integration/payment.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/unit/services/auth.service.test.ts
  src/backend/tests/unit/services/auth.service.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/unit/services/company.service.test.ts
  src/backend/tests/unit/services/company.service.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/unit/services/consent.service.test.ts
  src/backend/tests/unit/services/consent.service.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/unit/services/fhir.service.test.ts
  src/backend/tests/unit/services/fhir.service.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/unit/services/marketplace.service.test.ts
  src/backend/tests/unit/services/marketplace.service.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/unit/services/payment.service.test.ts
  src/backend/tests/unit/services/payment.service.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/unit/utils/encryption.util.test.ts
  src/backend/tests/unit/utils/encryption.util.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/backend/tests/unit/utils/fhir.util.test.ts
  src/backend/tests/unit/utils/fhir.util.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/web/.dockerignore
  src/web/.dockerignore
Owners: @frontend-team, @accessibility-team

Add public-samples/me3-zam0pf/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team, @accessibility-team

Add public-samples/me3-zam0pf/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @frontend-team, @accessibility-team

Add public-samples/me3-zam0pf/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team, @accessibility-team

Add public-samples/me3-zam0pf/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team, @accessibility-team

Add public-samples/me3-zam0pf/src/web/README.md
  src/web/README.md
Owners: @frontend-team, @accessibility-team

Add public-samples/me3-zam0pf/src/web/index.html
  src/web/index.html
Owners: @frontend-team, @accessibility-team

Add public-samples/me3-zam0pf/src/web/jest.config.ts
  src/web/jest.config.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/me3-zam0pf/src/web/package.json
  src/web/package.json
Owners: @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team, @accessibility-team

Add public-samples/me3-zam0pf/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @accessibility-team

Add public-samples/me3-zam0pf/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/api/auth.api.ts
  src/web/src/api/auth.api.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/api/company.api.ts
  src/web/src/api/company.api.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/api/consent.api.ts
  src/web/src/api/consent.api.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/api/fhir.api.ts
  src/web/src/api/fhir.api.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/api/marketplace.api.ts
  src/web/src/api/marketplace.api.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/api/notification.api.ts
  src/web/src/api/notification.api.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/api/payment.api.ts
  src/web/src/api/payment.api.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/assets/fonts/OpenSans-Regular.ttf
  src/web/src/assets/fonts/OpenSans-Regular.ttf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/assets/fonts/Roboto-Regular.ttf
  src/web/src/assets/fonts/Roboto-Regular.ttf
Owners: @project-leads, @security-team
