Repository ME-sdeo/me3-zam0pf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @compliance-team, @blockchain-team, @fhir-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers

.github/CODEOWNERS:

# This file defines code ownership and mandatory review requirements
# Last matching pattern takes precedence
# Multiple owners must approve changes

# Root level files require project lead and security team review
* @project-leads @security-team

# Backend code requires security, compliance and backend team review for HIPAA compliance
/src/backend/* @backend-team @security-team @compliance-team

# Blockchain implementation requires specialized review
/src/backend/src/blockchain/* @blockchain-team @security-team @compliance-team

# FHIR integration code requires healthcare data expertise
/src/backend/src/fhir/* @fhir-team @security-team @compliance-team

# Frontend code requires accessibility compliance
/src/web/* @frontend-team @accessibility-team

# Infrastructure code requires thorough security review
/infrastructure/* @devops-team @security-team @compliance-team

# CI/CD workflows require security oversight
/.github/workflows/* @devops-team @security-team

# Configuration files require extra security scrutiny
/src/backend/src/config/* @backend-team @security-team @compliance-team

# Test files require QA and security validation
*.test.ts @qa-team @security-team

# Package dependencies require security review
package*.json @security-team @compliance-team

# Documentation requires compliance verification
/docs/* @technical-writers @compliance-team

# Ensure security team reviews all sensitive healthcare data components
/src/backend/src/services/* @backend-team @security-team @compliance-team
/src/backend/src/models/* @backend-team @security-team @compliance-team
/src/backend/src/api/* @backend-team @security-team @compliance-team

# Database schema changes require thorough review
/src/backend/src/db/* @backend-team @security-team @compliance-team

# Security-critical components require mandatory security team review
/src/backend/src/auth/* @security-team @compliance-team
/src/backend/src/encryption/* @security-team @compliance-team
/infrastructure/security/* @security-team @compliance-team

Add public-samples/me3-zam0pf/src/web/src/styles/pages/_auth.scss
  src/web/src/styles/pages/_auth.scss
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/styles/pages/_dashboard.scss
  src/web/src/styles/pages/_dashboard.scss
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/styles/pages/_marketplace.scss
  src/web/src/styles/pages/_marketplace.scss
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/styles/themes/_dark.scss
  src/web/src/styles/themes/_dark.scss
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/styles/themes/_light.scss
  src/web/src/styles/themes/_light.scss
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/styles/utils/_mixins.scss
  src/web/src/styles/utils/_mixins.scss
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/styles/utils/_variables.scss
  src/web/src/styles/utils/_variables.scss
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/types/auth.types.ts
  src/web/src/types/auth.types.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/types/company.types.ts
  src/web/src/types/company.types.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/types/consent.types.ts
  src/web/src/types/consent.types.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/types/fhir.types.ts
  src/web/src/types/fhir.types.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/types/marketplace.types.ts
  src/web/src/types/marketplace.types.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/types/payment.types.ts
  src/web/src/types/payment.types.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/types/user.types.ts
  src/web/src/types/user.types.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/utils/api.util.ts
  src/web/src/utils/api.util.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/utils/auth.util.ts
  src/web/src/utils/auth.util.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/utils/date.util.ts
  src/web/src/utils/date.util.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/utils/fhir.util.ts
  src/web/src/utils/fhir.util.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/utils/format.util.ts
  src/web/src/utils/format.util.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/utils/storage.util.ts
  src/web/src/utils/storage.util.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/src/utils/validation.util.ts
  src/web/src/utils/validation.util.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/tests/setup.ts
  src/web/tests/setup.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/tests/components/auth/LoginForm.test.tsx
  src/web/tests/components/auth/LoginForm.test.tsx
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/tests/components/common/Button.test.tsx
  src/web/tests/components/common/Button.test.tsx
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/tests/components/fhir/FHIRUploader.test.tsx
  src/web/tests/components/fhir/FHIRUploader.test.tsx
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/tests/hooks/useAuth.test.ts
  src/web/tests/hooks/useAuth.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/web/tests/pages/consumer/ConsumerDashboard.test.tsx
  src/web/tests/pages/consumer/ConsumerDashboard.test.tsx
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/web/tests/services/auth.service.test.ts
  src/web/tests/services/auth.service.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/web/tests/store/reducers/auth.reducer.test.ts
  src/web/tests/store/reducers/auth.reducer.test.ts
Owners: @qa-team, @security-team

Add public-samples/me3-zam0pf/src/web/tests/utils/validation.util.test.ts
  src/web/tests/utils/validation.util.test.ts
Owners: @qa-team, @security-team

Initial Setup
  src/web/package.json
  src/web/tsconfig.json
Owners: @security-team, @compliance-team, @frontend-team, @accessibility-team

BugFix: Automated bug fixes for src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/components/common/PageHeader.tsx
  src/web/src/components/common/PageHeader.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/Unauthorized.tsx
  src/web/src/pages/Unauthorized.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/components/common/Dialog.tsx
  src/web/src/components/common/Dialog.tsx
Owners: @project-leads, @security-team

Initial Setup
  src/web/tsconfig.json
Owners: @frontend-team, @accessibility-team

BugFix: Automated bug fixes for src/web/src/types/fhir.types.ts
  src/web/src/types/fhir.types.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/config/auth.config.ts
  src/web/src/config/auth.config.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/config/api.config.ts
  src/web/src/config/api.config.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/interfaces/fhir.interface.ts
  src/web/src/interfaces/fhir.interface.ts
Owners: @project-leads, @security-team
