Repository ME-sdeo/me3-zam0pf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @compliance-team, @blockchain-team, @fhir-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers

Add public-samples/me3-zam0pf/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/aks/main.tf
  infrastructure/terraform/modules/aks/main.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/aks/outputs.tf
  infrastructure/terraform/modules/aks/outputs.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/aks/variables.tf
  infrastructure/terraform/modules/aks/variables.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/security/main.tf
  infrastructure/terraform/modules/security/main.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/security/outputs.tf
  infrastructure/terraform/modules/security/outputs.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/infrastructure/terraform/modules/security/variables.tf
  infrastructure/terraform/modules/security/variables.tf
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/.dockerignore
  src/backend/.dockerignore
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/backend/.eslintrc.json
  src/backend/.eslintrc.json
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/backend/Dockerfile
  src/backend/Dockerfile
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/backend/README.md
  src/backend/README.md
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/backend/docker-compose.yml
  src/backend/docker-compose.yml
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/backend/jest.config.ts
  src/backend/jest.config.ts
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/backend/nodemon.json
  src/backend/nodemon.json
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/backend/package.json
  src/backend/package.json
Owners: @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team, @security-team, @compliance-team

Add public-samples/me3-zam0pf/src/backend/src/app.ts
  src/backend/src/app.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/server.ts
  src/backend/src/server.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/controllers/auth.controller.ts
  src/backend/src/api/controllers/auth.controller.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/controllers/company.controller.ts
  src/backend/src/api/controllers/company.controller.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/controllers/consent.controller.ts
  src/backend/src/api/controllers/consent.controller.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/controllers/fhir.controller.ts
  src/backend/src/api/controllers/fhir.controller.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/controllers/marketplace.controller.ts
  src/backend/src/api/controllers/marketplace.controller.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/controllers/notification.controller.ts
  src/backend/src/api/controllers/notification.controller.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/controllers/payment.controller.ts
  src/backend/src/api/controllers/payment.controller.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/controllers/user.controller.ts
  src/backend/src/api/controllers/user.controller.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/middlewares/error.middleware.ts
  src/backend/src/api/middlewares/error.middleware.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/middlewares/logging.middleware.ts
  src/backend/src/api/middlewares/logging.middleware.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/middlewares/rateLimiter.middleware.ts
  src/backend/src/api/middlewares/rateLimiter.middleware.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/middlewares/validation.middleware.ts
  src/backend/src/api/middlewares/validation.middleware.ts
Owners: @project-leads, @security-team

Add public-samples/me3-zam0pf/src/backend/src/api/routes/auth.routes.ts
  src/backend/src/api/routes/auth.routes.ts
Owners: @project-leads, @security-team

.github/CODEOWNERS:

# This file defines code ownership and mandatory review requirements
# Last matching pattern takes precedence
# Multiple owners must approve changes

# Root level files require project lead and security team review
* @project-leads @security-team

# Backend code requires security, compliance and backend team review for HIPAA compliance
/src/backend/* @backend-team @security-team @compliance-team

# Blockchain implementation requires specialized review
/src/backend/src/blockchain/* @blockchain-team @security-team @compliance-team

# FHIR integration code requires healthcare data expertise
/src/backend/src/fhir/* @fhir-team @security-team @compliance-team

# Frontend code requires accessibility compliance
/src/web/* @frontend-team @accessibility-team

# Infrastructure code requires thorough security review
/infrastructure/* @devops-team @security-team @compliance-team

# CI/CD workflows require security oversight
/.github/workflows/* @devops-team @security-team

# Configuration files require extra security scrutiny
/src/backend/src/config/* @backend-team @security-team @compliance-team

# Test files require QA and security validation
*.test.ts @qa-team @security-team

# Package dependencies require security review
package*.json @security-team @compliance-team

# Documentation requires compliance verification
/docs/* @technical-writers @compliance-team

# Ensure security team reviews all sensitive healthcare data components
/src/backend/src/services/* @backend-team @security-team @compliance-team
/src/backend/src/models/* @backend-team @security-team @compliance-team
/src/backend/src/api/* @backend-team @security-team @compliance-team

# Database schema changes require thorough review
/src/backend/src/db/* @backend-team @security-team @compliance-team

# Security-critical components require mandatory security team review
/src/backend/src/auth/* @security-team @compliance-team
/src/backend/src/encryption/* @security-team @compliance-team
/infrastructure/security/* @security-team @compliance-team
