Repository ME-sdeo/me3-zam0pf, changes with the owners that .github/CODEOWNERS names for each.
All owners: @project-leads, @security-team, @backend-team, @compliance-team, @blockchain-team, @fhir-team, @frontend-team, @accessibility-team, @devops-team, @qa-team, @technical-writers

.github/CODEOWNERS:

# This file defines code ownership and mandatory review requirements
# Last matching pattern takes precedence
# Multiple owners must approve changes

# Root level files require project lead and security team review
* @project-leads @security-team

# Backend code requires security, compliance and backend team review for HIPAA compliance
/src/backend/* @backend-team @security-team @compliance-team

# Blockchain implementation requires specialized review
/src/backend/src/blockchain/* @blockchain-team @security-team @compliance-team

# FHIR integration code requires healthcare data expertise
/src/backend/src/fhir/* @fhir-team @security-team @compliance-team

# Frontend code requires accessibility compliance
/src/web/* @frontend-team @accessibility-team

# Infrastructure code requires thorough security review
/infrastructure/* @devops-team @security-team @compliance-team

# CI/CD workflows require security oversight
/.github/workflows/* @devops-team @security-team

# Configuration files require extra security scrutiny
/src/backend/src/config/* @backend-team @security-team @compliance-team

# Test files require QA and security validation
*.test.ts @qa-team @security-team

# Package dependencies require security review
package*.json @security-team @compliance-team

# Documentation requires compliance verification
/docs/* @technical-writers @compliance-team

# Ensure security team reviews all sensitive healthcare data components
/src/backend/src/services/* @backend-team @security-team @compliance-team
/src/backend/src/models/* @backend-team @security-team @compliance-team
/src/backend/src/api/* @backend-team @security-team @compliance-team

# Database schema changes require thorough review
/src/backend/src/db/* @backend-team @security-team @compliance-team

# Security-critical components require mandatory security team review
/src/backend/src/auth/* @security-team @compliance-team
/src/backend/src/encryption/* @security-team @compliance-team
/infrastructure/security/* @security-team @compliance-team

BugFix: Automated bug fixes for src/web/src/components/layout/Header.tsx
  src/web/src/components/layout/Header.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/consumer/Settings.tsx
  src/web/src/pages/consumer/Settings.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/consumer/HealthRecords.tsx
  src/web/src/pages/consumer/HealthRecords.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/consumer/ConsumerDashboard.tsx
  src/web/src/pages/consumer/ConsumerDashboard.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/routes/PublicRoute.tsx
  src/web/src/routes/PublicRoute.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/auth/ResetPassword.tsx
  src/web/src/pages/auth/ResetPassword.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/auth/Register.tsx
  src/web/src/pages/auth/Register.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/auth/Login.tsx
  src/web/src/pages/auth/Login.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/store/reducers/notification.reducer.ts
  src/web/src/store/reducers/notification.reducer.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/store/reducers/payment.reducer.ts
  src/web/src/store/reducers/payment.reducer.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/store/reducers/fhir.reducer.ts
  src/web/src/store/reducers/fhir.reducer.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/store/reducers/marketplace.reducer.ts
  src/web/src/store/reducers/marketplace.reducer.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/store/reducers/consent.reducer.ts
  src/web/src/store/reducers/consent.reducer.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/store/reducers/auth.reducer.ts
  src/web/src/store/reducers/auth.reducer.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/components/layout/MainLayout.tsx
  src/web/src/components/layout/MainLayout.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/Unauthorized.tsx
  src/web/src/pages/Unauthorized.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/ServerError.tsx
  src/web/src/pages/ServerError.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/NotFound.tsx
  src/web/src/pages/NotFound.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/routes/ConsumerRoutes.tsx
  src/web/src/routes/ConsumerRoutes.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/routes/CompanyRoutes.tsx
  src/web/src/routes/CompanyRoutes.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/routes/AuthRoutes.tsx
  src/web/src/routes/AuthRoutes.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/config/theme.config.ts
  src/web/src/config/theme.config.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/store/reducers/root.reducer.ts
  src/web/src/store/reducers/root.reducer.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/routes/index.tsx
  src/web/src/routes/index.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/components/common/Loading.tsx
  src/web/src/components/common/Loading.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @frontend-team, @accessibility-team

BugFix: Automated bug fixes for src/web/package.json
  src/web/package.json
Owners: @security-team, @compliance-team

BugFix: Automated bug fixes for src/web/src/store/store.ts
  src/web/src/store/store.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/components/common/Table.tsx
  src/web/src/components/common/Table.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/components/marketplace/DataRequestList.tsx
  src/web/src/components/marketplace/DataRequestList.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/components/marketplace/MatchingResults.tsx
  src/web/src/components/marketplace/MatchingResults.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/components/marketplace/PriceCalculator.tsx
  src/web/src/components/marketplace/PriceCalculator.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/components/marketplace/DataRequestForm.tsx
  src/web/src/components/marketplace/DataRequestForm.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/components/profile/CompanyProfile.tsx
  src/web/src/components/profile/CompanyProfile.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/hooks/useConsent.ts
  src/web/src/hooks/useConsent.ts
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/marketplace/RequestList.tsx
  src/web/src/pages/marketplace/RequestList.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/marketplace/RequestDetails.tsx
  src/web/src/pages/marketplace/RequestDetails.tsx
Owners: @project-leads, @security-team

BugFix: Automated bug fixes for src/web/src/pages/marketplace/CreateRequest.tsx
  src/web/src/pages/marketplace/CreateRequest.tsx
Owners: @project-leads, @security-team
